<div>
  <h4>Calculations</h4>
  <mat-form-field>
    <input matInput type="number" placeholder="Income" [(ngModel)]="income" />
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="Cost" [(ngModel)]="cost" />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="addCalculation()">
    Add Calculation
  </button>

  <table mat-table [dataSource]="calculations" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let calc">{{ calc.id }}</td>
    </ng-container>

    <ng-container matColumnDef="income">
      <th mat-header-cell *matHeaderCellDef>Income</th>
      <td mat-cell *matCellDef="let calc">{{ calc.income }}</td>
    </ng-container>

    <ng-container matColumnDef="cost">
      <th mat-header-cell *matHeaderCellDef>Cost</th>
      <td mat-cell *matCellDef="let calc">{{ calc.cost }}</td>
    </ng-container>

    <ng-container matColumnDef="profitOrLoss">
      <th mat-header-cell *matHeaderCellDef>Profit/Loss</th>
      <td mat-cell *matCellDef="let calc">{{ calc.profitOrLoss }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let calc">
        <button
          mat-icon-button
          color="warn"
          (click)="deleteCalculation(calc.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
