<mat-toolbar color="primary">
  <img
    style="max-height: 90%"
    src="/assets/img/dachser.png"
    alt="dachser logo"
  />
  <span style="margin-left: 8px">Profit Calculator</span>
</mat-toolbar>

<mat-sidenav-container style="height: calc(100vh - 64px)">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/shipments">
        <mat-icon matListItemIcon>calculate</mat-icon>
        <div matListItemTitle>Calculate Profits</div>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
